<ion-view view-title="Yelp API">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Breakfast/Brunch</div>
      <div class="item item-body">
        <div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Lunch</div>
      <div class="item item-body">
        <div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Dinner</div>
      <div class="item item-body">
        <div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
