<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Breakfast/Brunch Tab -->
  <ion-tab title="Breakfast/Brunch" icon-off="ion-coffee" icon-on="ion-coffee" href="#/tab/breakfast">
    <ion-nav-view name="tab-breakfast"></ion-nav-view>
  </ion-tab>

  <!-- Lunch Tab -->
  <ion-tab title="Lunch" icon-off="ion-pizza" icon-on="ion-pizza" href="#/tab/lunch">
    <ion-nav-view name="tab-lunch"></ion-nav-view>
  </ion-tab>

  <!-- Dinner Tab -->
  <ion-tab title="Dinner" icon-off="ion-wineglass" icon-on="ion-wineglass" href="#/tab/dinner">
    <ion-nav-view name="tab-dinner"></ion-nav-view>
  </ion-tab>


</ion-tabs>
